In [ ]:
# This ipynb file is for extracting the image to the respective file on the respective classes of cancer
#link for the data set   
https://www.kaggle.com/datasets/nodoubttome/skin-cancer9-classesisic

In [32]:
import pandas as pd
import numpy as np
import os
import shutil

In [2]:
df=pd.read_csv("archive/ISIC_2019_Training_GroundTruth.csv")

In [3]:
df

              image  MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK
0      ISIC_0000000  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
1      ISIC_0000001  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
2      ISIC_0000002  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
3      ISIC_0000003  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
4      ISIC_0000004  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
...             ...  ...  ...  ...  ...  ...  ...   ...  ...  ...
25326  ISIC_0073247  0.0  0.0  1.0  0.0  0.0  0.0   0.0  0.0  0.0
25327  ISIC_0073248  0.0  0.0  0.0  0.0  1.0  0.0   0.0  0.0  0.0
25328  ISIC_0073249  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
25329  ISIC_0073251  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
25330  ISIC_0073254  0.0  0.0  0.0  0.0  1.0  0.0   0.0  0.0  0.0

[25331 rows x 10 columns]

In [15]:
label=list(df.drop(columns=['image'],axis=1))

In [16]:
label

['MEL', 'NV', 'BCC', 'AK', 'BKL', 'DF', 'VASC', 'SCC', 'UNK']

In [21]:
for i in label:
    print(i,df[df[i]==1].count().head(1))

MEL image    4522
dtype: int64
NV image    12875
dtype: int64
BCC image    3323
dtype: int64
AK image    867
dtype: int64
BKL image    2624
dtype: int64
DF image    239
dtype: int64
VASC image    253
dtype: int64
SCC image    628
dtype: int64
UNK image    0
dtype: int64

In [22]:
df[df["UNK"]==1].count().head(1)

image    0
dtype: int64

In [46]:
data_dir=os.getcwd()+"/archive/image"
dest_dir=os.getcwd()+"/reorganize"

In [25]:
print(data_dir)
print(dest_dir)

/Users/prasantpoudel/Desktop/skin/ISIC/archive/image
/Users/prasantpoudel/Desktop/skin/ISIC/reorganize

In [57]:
sample=[]

In [58]:
for i in label:
    os.mkdir(dest_dir+"/"+str(i))
    sample=df[df[i]==1.0]['image']
    for id in sample:
        shutil.copyfile((data_dir+"/"+id+".jpg"),(dest_dir + "/"+i+"/"+id+".jpg"))
    sample=[]